
.note {
  background-color: #fff;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  height: 300px;
  width: 300px;
  position: absolute;
}

.note .header {
  background-color: #acaf19;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.note .header button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.note .main {
  background-color: rgb(245, 232, 159);
  overflow: auto;
  height: 300px;
  width: 100%;
}

.note textarea {
  background-color: rgb(245, 232, 159);
  outline: none;
  font-family: inherit;
  font-size: 1.2rem;
  border: none;
  width: 100%;
  height: 300px;
  overflow: auto;
  resize: none;
}

.note .hidden {
  display: none;
}

.note .commentField {
  background-color: rgb(238, 237, 235);
}